:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Work Sans", sans-serif;
  --third-family: "Rubik", sans-serif;
  --text-violet-dark: #212353;
  --text-gray-dark: #4b5d68;
  --colors-violet: #9c69e2;
  --colors-violet-middle: #8a40ee;
  --colors-pink: #f063b8;
  --colors-pink-middle: #eb4bab;
  --colors-green-light: #f0faf9;
  --colors-violet-light: #f6f0fd;
  --colors-pink-light: #fef0f8;
  --colors-blue-light: #eaf6fc;
  --colors-pink-medium: #fde8f5;
  --colors-blue-medium: #cdf;
  --colors-blue-facebook: #3b5998;
  --colors-blue-twitter: #00acee;
  --colors-pink-instagram: #c13584;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  max-width: 1170px;
  margin-inline: auto;
  font-family: var(--font-family);
  font-weight: 500;
  color: var(--text-gray-dark);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: var(--text-violet-dark);
  font-family: var(--second-family);
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  width: 210px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  background: none;
  border: 1px solid var(--colors-violet);
  font: inherit;
  font-size: 18px;
  box-shadow: 0 5px 5px 0 #4b5d681a;
  transition: 400ms;

  &:hover {
    background-color: var(--colors-violet);
    color: #fff;
  }
}

address {
  font-style: normal;
}

header {
  height: 100px;
  display: flex;
  gap: 120px;
  align-items: center;

  ul {
    display: flex;
    gap: 40px;

    a {
      transition: 400ms;

      &:hover {
        color: var(--colors-violet-middle)
      }
    }
  }

  button {
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;  
    
    &::after {
      content: url("images/arrow.svg");
      transform: translateY(3px);
    }
  }
}

.hero {
  display: flex;
  padding-block: 100px 135px;
  align-items: start;

  h2 {
    font-size: 80px;
    font-weight: 700;
    line-height: 110%;
  }

  p {
    max-width: 370px;
    margin-block: 50px;
    font-size: 18px;
  }

  button {
    background-color: var(--colors-violet);
    border: none;
    color: #fff;

    &:hover {
      background-color: var(--colors-violet-middle);
    }
  }

  img {
    margin-left: -200px;
    z-index: -1;
    transform: translateY(82px);
  }
}

.about {
  display: flex;
  padding: 75px 70px;
  border-radius: 50px;
  gap: 130px;
  background-color: var(--colors-pink-medium);

  h2 {
    padding-bottom: 40px;
  }

  p {
    font-size: 18px;
  }
}

.features {
  padding-block: 120px;

  >.content {
    text-align: center;
    margin-bottom: 80px;

    p {
      margin-top: 50px;
      max-width: 638px;
      font-size: 18px;
      margin-inline: auto;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 30px;

    .feature {
      max-width: calc(50% - 15px);
      display: flex;
      align-items: center;
      gap: 40px;

      .content {
        max-width: 400px;
        margin-left: -100px;
        padding: 62px 70px 62px 100px;
        border-radius: 50px;
        background-repeat: no-repeat;
      }

      &:nth-child(1)>.content {
        background-color: var(--colors-green-light);
        background-image: url("images/search.svg");
        background-position: 155px 20px;
      }

      &:nth-child(2)>.content {
        background-color: var(--colors-violet-light);
        background-image: url("images/access.svg");
        background-position: 169px 229px;
      }

      &:nth-child(3)>.content {
        background-color: var(--colors-pink-light);
        background-image: url("images/print.svg");
        background-position: 315px 20px;
      }

      &:nth-child(4)>.content {
        background-color: var(--colors-blue-light);
        background-image: url("images/security.svg");
        background-position: 20px 20px;
      }

      img {
        z-index: 1;
      }

      [src*="access"] {
        margin-right: -11px;
      }

      [src*="print"] {
        margin-right: -15px;
      }

      h3 {
        font-size: 24px;
        line-height: 130%;
        font-weight: 400;
      }

      p {
        min-height: 180px;
        margin-block: 20px;
      }

      a {
        color: var(--text-violet-dark);
        font-weight: 700;
      }
    }
  }
}

.testimonials {
  border-radius: 50px;
  background-color: var(--colors-blue-medium);
  padding: 80px 70px;
  background-image: url("images/testimonials.svg");
  height: 580px;
  box-sizing: border-box;

  h2 {
    text-align: center;
    margin-bottom: 80px;
    color: var(--text-gray-dark);
    height: 40px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    gap: 100px;

    .testimonial {
      border: 1px solid var(--colors-violet);
      border-radius: 50px;
      background-color: #fff;
      padding: 50px 30px;
      display: flex;
      align-items: start;
      gap: 15px;

      img {
        border-radius: 50%;
      }

      h3 {
        font-weight: 500;
        height: 26px;
      }

      address {
        color: var(--colors-violet);
        margin-block: 2px 18px;
        height: 22px;
      }
    }
  }
}

.promo {
  padding-block: 120px 100px;
  display: flex;
  align-items: center;
  gap: 30px;

  .content {
    margin-right: auto;

    p {
      margin-top: 20px;
      font-size: 18px;
    }
  }

  button:first-of-type {
    background-color: var(--colors-pink);
    border: none;
    color: #fff;

    &:hover {
      background-color: var(--colors-pink-middle);
    }
  }
}

footer {
  padding-bottom: 120px;

  .row {
    display: flex;
    gap: 169px;
    margin-bottom: 100px;

    .column:first-child {
      margin-right: auto;

      >a {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 60px;
      }

      h1 {
        font-weight: 600;
        font-size: 20px;
      }

      address {
        display: grid;
        max-width: 275px;
        line-height: 180%;
        gap: 10px;

        a:nth-child(n + 2) {
          font-weight: 400;
        }
      }
    }

    h4 {
      margin-bottom: 30px;
      height: 40px;
      align-content: center;
      font-weight: 600;
    }

    nav>ul {
      display: grid;
      gap: 10px;

      a {
        transition: 400ms;

        &:hover {
          color: var(--colors-violet-middle);
        }
      }
    }

    .socials {
      display: flex;
      gap: 15px;

      .social {
        width: 50px;
        aspect-ratio: 1;

        a {
          height: 100%;
          display: grid;
          place-content: center;
          background-color: var(--text-violet-dark);
          border-radius: 50%;
          opacity: 10%;
          box-sizing: border-box;
          transition: all 400ms, opacity 200ms;
          border: 1px solid transparent;
          color: white;
        }

        a:hover {
          opacity: 100%;
          background-color: #fff;
          border: 1px solid;
          color: inherit;
          transition: all 400ms, opacity 1s;
        }
      }

      [data-name="facebook"] {
        color: var(--colors-blue-facebook);
      }

      [data-name="twitter"] {
        color: var(--colors-blue-twitter);
      }

      [data-name="instagram"] {
        color: var(--colors-pink-instagram);
      }
    }
  }

  p {
    font-size: 12px;
    line-height: 180%;
    font-weight: 300;
  }
}
